@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: #32de84;
  --blue: #002d62;
  --orangered: orangered;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
}

body {
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.section-padding {
  padding: 10rem 0;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}

h1 span {
  /*background-color: var(--blue);
  padding: 0.5rem 2rem;*/
  color: var(--blue);
  border-radius: 5px;
}

h2 {
  font-size: 2.6rem;
  font-weight: 500;
}

h2 span {
  color: white;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: rgb(49, 49, 49);
  line-height: 30px;
  text-align: justify;
}

.pw-80 {
  width: 80%;
}

.heading-section {
  color: rgb(31, 31, 31);
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem 2rem;
  width: fit-content;
}

.heading-section span {
  display: block;
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
}

.text-clients {
  font-size: 4rem;
  font-weight: 600;
}

.text-clients span {
  display: block;
  font-size: 2.6rem;
  font-weight: 400;
}

.section-homepage {
  height: 80vh;
  position: relative;
}

.shape {
  height: 80%;
  position: absolute;
  top: 100px;
  left: -20px;
  width: 80%;
  background-color: var(--green);
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 0px 0px 1rem 1rem;
}

.navbar .nav-logo {
  font-size: 3rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navbar .nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.navbar .nav-list li a {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgb(82, 82, 82);
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.btn-hero {
  padding: 1.3rem 5rem;
  border: none;
  border: 2px solid var(--blue);
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--blue);
  text-transform: uppercase;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
}

.car-img {
  max-width: 100%;
  height: auto;
}

.section-clients {
  padding: 2rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.267);
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
}

.btn-standard {
  padding: 1rem 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.281);
}

.icon-about {
  height: 70px;
  width: auto;
}

.text-award {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  padding: 1rem;
  background-color: var(--green);
  border-radius: 0.6rem;
}

.text-huge {
  text-align: end;
  font-size: 8rem;
  font-weight: 700;
  color: var(--blue);
}

.text-huge span {
  font-size: 2rem;
  font-weight: 400;
  margin-right: 3rem;
}

.section-services {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}

.section-services .background-top {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 52%;
  background-color: rgb(231, 231, 231);
  top: 0;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
  z-index: -5;
}

/*
.section-services .background-bottom {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 35%;
  background-color: #32de84;
  bottom: 0;
  clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0 100%);
  z-index: -5;
}
*/
.card-services {
  width: 90%;
  padding: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  border-radius: 1rem;
  background-color: white;
  position: relative;
}

.card-services .card-heading {
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.card-services .icon-services {
  width: 80px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;

  padding: 1rem;
}

.text-card {
  text-align: start;
  font-size: 1.4rem;
  line-height: 25px;
  letter-spacing: 0;
  hyphens: auto;
}

.heading-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(59, 59, 59);
  font-size: 1.3rem;
}

.heading-card span {
  margin-top: 5px;
  background-color: var(--blue);
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  width: fit-content;
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.btn-card {
  padding: 1rem 2rem;
  background-color: white;
  border: none;
  font-family: "Montserrat";
  font-size: 1.4rem;
  border-radius: 0.6rem;
  background-color: silver;
  color: white;
}

.row {
  row-gap: 4rem;
}

.section-prices {
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.card-prices {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  width: 90%;
}

.card-prices .wrapper {
  padding: 2rem;
}

.card-prices .card-heading {
  width: 100%;
  height: 10%;
  background-color: var(--green);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-title-prices {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
  text-align: center;
}

.text-title-prices span {
  font-size: 2.2rem;
  display: block;
  color: var(--blue);
}

.text-price-prices {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  z-index: 2;
  color: white;
}

.text-price-prices span {
  font-size: 1.4rem;
  font-weight: 500;
}

.card-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: var(--green);
  z-index: 1;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.feature {
  display: flex;
  justify-content: center;
}

.icon-feature {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.card-prices {
  padding-bottom: 3rem;
}
.card-prices .wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.featured-card {
  transform: scale(1.2);
}

.featured-card .card-heading {
  background-color: var(--blue);
}

.featured-card .btn-prices {
  background-color: var(--blue);
}

.featured-card .text-title-prices span {
  font-size: 2.2rem;
  display: block;
  color: var(--green) !important;
}

.btn-prices {
  background-color: var(--green);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

.contact-form {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  padding: 4rem;
}

.contact-title {
  font-weight: 700;
  font-size: 2.6rem;
  color: rgb(61, 61, 61);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

form .inline-box {
  display: flex;
  width: 100%;
  gap: 2rem;
}

form .inline-box input {
  flex: auto;
}

form input {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid rgba(75, 75, 75, 0.575);
}

form input::placeholder {
  font-family: "Montserrat", sans-serif;
}

form textarea {
  width: 100%;
  height: 10rem;
  border: none;
  border-bottom: 1px solid rgba(75, 75, 75, 0.815);
  padding: 1rem;
  resize: none;
}

form textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  bottom: 2px;
  text-align: bottom;
}

.btn-form {
  width: 30%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue);
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.contact-feature-box {
  display: flex;
  align-items: center;
}

.more-contact-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}

.icon-contact {
  width: 40px;
  margin-right: 20px;
}

.text-contact {
  font-size: 1.6rem;
  font-weight: 300;
}

.social-media-box {
  background-color: var(--blue);
  padding: 3rem;
  padding-bottom: 5rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.social-media-icons {
  display: flex;
  gap: 3rem;
}

.social-icon {
  width: 30px;
}
